.pieceCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    outline: auto;

    width: 20vw;
    height: 25vw;
    margin: 1vw;
}

.pieceImage {
    display: flex;
    height: 16vw;
    width: 13vw;
}

.cardButtons {
    display: flex;
    margin-top: 1.5vw;

}

.detailLink {
    display: flex;

    color: black;
    font-family: "Alata";
    font-size: 1.5vw;
    text-decoration: none;
}.detailLink:hover{
    text-decoration: underline;
}


.pieceCard button{
    display: flex;
}
