.fullClothesDisplay {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filters {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
    padding-bottom: 2vw;
    
}

.filters p{
    padding-right: 1vw;
    font-family: "Alata";
    font-size: 1.8vw;
    margin-bottom: 0;
    margin-top: 0.1vw;
}

.filters select{
    height: 3vw;
    width: 12vw;
    border: .15vw solid black;
    padding: .5vw 1.5vw .5vw .5vw; 
    display: flex;
    background-color: white;
    margin-left: .1vw;
    margin-right: .1vw;

    font-size: 1vw;
    font-weight: bold;

    cursor: pointer;
}

.createButton {
    height: 2.5vw;
    width: 11.7vw;
    border: .25vw solid black;
    padding: .5vw .5vw .5vw .5vw; 
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    font-size: 1.5vw;
    font-weight: bold;
    font-family: "Alata";
    text-decoration: none;
    color: black;

    cursor: pointer;
}.createButton:hover{
    background-color: gold;

    text-decoration: underline;
    transform: translate3d(-0vw, -.3vw, 0px);
    transition: all .3s;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
    padding-right: 0%;

    width: 90vw;
}