.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: black;
}

.navbar p{
    color: gold;
    font-size: 1.5vw;
    font-family: "Alata";
}

.navLink {
    display: flex;
    align-items: center;

    font-size: 1.5vw;
    font-family: "Alata";
    font-weight: 200;
    text-decoration: none;
    color: white;
}.navLink:hover {
    transform: scale(1.2);
    font-weight: 180%;
    text-decoration: underline;

    transition: all, 0.5s;
}