.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.titleText {
    color: black;
    display: flex;
    align-items: center;
    font-size: 8vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-family: 'Parisienne';
    font-weight: 140
}

.logo {
    display: flex;
    align-items: center;
    width: 8vw;
    height: 8vw;
    padding-bottom: 2.7vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}